{% block scripts %}
    <script language="javascript" type="text/javascript">
        output_list = Array();

        /*level 调整增加只显示通过用例的分类 --Findyou
        0:Summary //all hiddenRow
        1:Failed  //pt hiddenRow, ft none
        2:Pass    //pt none, ft hiddenRow
        3:All     //pt none, ft none
        */
        function showCase(level) {
            trs = document.getElementsByTagName("tr");
            for (var i = 0; i < trs.length; i++) {
                tr = trs[i];
                id = tr.id;
                console.log(id);
                if (id.substr(0,2) == 'ft') {
                    if (level == 2 || level == 0 ) {
                        tr.className = 'hiddenRow';
                    }
                    else {
                        tr.className = '';
                    }
                }
                if (id.substr(0,2) == 'pt') {
                    if (level < 2) {
                        tr.className = 'hiddenRow';
                    }
                    else {
                        tr.className = '';
                    }
                }
            }

            //加入【详细】切换文字变化 --Findyou
            detail_class=document.getElementsByClassName('detail');
            //console.log(detail_class.length)
            if (level == 3) {
                for (var i = 0; i < detail_class.length; i++){
                    detail_class[i].innerHTML="收起"
                }
            }
            else{
                    for (var i = 0; i < detail_class.length; i++){
                    detail_class[i].innerHTML="详细"
                }
            }
        }

        function showClassDetail(cid, count) {
            var id_list = Array(count);
            var toHide = 1;
            for (var i = 0; i < count; i++) {
                //ID修改 点 为 下划线 -Findyou
                tid0 = 't' + cid.substr(1) + '_' + (i+1);
                tid = 'f' + tid0;
                tr = document.getElementById(tid);
                if (!tr) {
                    tid = 'p' + tid0;
                    tr = document.getElementById(tid);
                }
                id_list[i] = tid;
                if (tr.className) {
                    toHide = 0;
                }
            }
            for (var i = 0; i < count; i++) {
                tid = id_list[i];
                //修改点击无法收起的BUG，加入【详细】切换文字变化 --Findyou
                if (toHide) {
                    document.getElementById(tid).className = 'hiddenRow';
                    document.getElementById(cid).innerText = "详细"
                }
                else {
                    document.getElementById(tid).className = '';
                    document.getElementById(cid).innerText = "收起"
                }
            }
        }

        function html_escape(s) {
            s = s.replace(/&/g,'&amp;');
            s = s.replace(/</g,'&lt;');
            s = s.replace(/>/g,'&gt;');
            return s;
        }
    </script>
{% endblock %}

{% block styles %}
    <style type="text/css" media="screen">
        /* -- report ------------------------------------------------------------------------ */
        #total_row  { font-weight: bold; }
        .passCase   { color: #5cb85c; }
        .failCase   { color: #d9534f; font-weight: bold; }
        .errorCase  { color: #f0ad4e; font-weight: bold; }
        .hiddenRow  { display: none; }
        .testcase   { margin-left: 2em; }
    </style>
{% endblock %}

<div class='page-header'>
    <h1>{{report.title}}</h1>
    <p class='attribute'><strong>测试人员：</strong>{{report.tester}}</p>
    <p class='attribute'><strong>开始时间：</strong>{{report.start_time}}</p>
    <p class='attribute'><strong>合计耗时：</strong>{{report.duration}}</p>
    <p class='description'>
        <strong>测试结果：</strong>
        共{{report.count}}，通过{{report.Pass}}，失败{{report.fail}}，错误{{report.error}}，
        通过率={{report.pass_rate}}
    </p>
</div>

<p id='show_detail_line'>
    <a class="btn btn-primary" href='javascript:showCase(0)'>概要{ {{report.pass_rate}} }</a>
    <a class="btn btn-danger" href='javascript:showCase(1)'>失败{ {{report.fail}} }</a>
    <a class="btn btn-success" href='javascript:showCase(2)'>通过{ {{report.Pass}} }</a>
    <a class="btn btn-info" href='javascript:showCase(3)'>所有{ {{report.count}} }</a>
</p>

<table id='result_table' class="table table-condensed table-bordered table-hover">

        <colgroup>
            <col align='left' />
            <col align='right' />
            <col align='right' />
            <col align='right' />
            <col align='right' />
            <col align='right' />
        </colgroup>

        <tr id='header_row' class="text-center success" style="font-weight: bold;font-size: 14px;">
            <td>用例集/测试用例</td>
            <td>总计</td>
            <td>通过</td>
            <td>失败</td>
            <td>错误</td>
            <td>详细</td>
        </tr>

        {% for cls_result in report.case_results %}
            {% if cls_result.error %}
                <tr class='errorClass warning'>
            {% elif cls_result.fail %}
                <tr class='failClass warning'>
            {% else %}
                <tr class='passClass warning'>
            {% endif %}
                    <td>{{cls_result.name}}</td>
                    <td class="text-center">{{cls_result.count}}</td>
                    <td class="text-center">{{cls_result.Pass}}</td>
                    <td class="text-center">{{cls_result.fail}}</td>
                    <td class="text-center">{{cls_result.error}}</td>
                    <td class="text-center">
                        <a href="javascript:showClassDetail('c{{cls_result.id}}',{{cls_result.count}})" class="detail" id='c{{cls_result.id}}'>
                            详细
                        </a>
                    </td>
                </tr>

            {% for method_result in cls_result.method_results %}
                <tr id='{{method_result.id}}' class='{{method_result.Class}}'>
                    <td class='{{method_result.style}}'><div class='testcase'>{{method_result.name}}</div></td>
                    <td colspan='5' align='center'>
                        <button id='btn_{{method_result.id}}' type="button"  class="btn {{method_result.button_type}} btn-xs" data-toggle="collapse" data-target='#div_{{method_result.id}}'>
                            {{method_result.status}}
                        </button>
                        <div id='div_{{method_result.id}}' class="collapse in">
                            <pre style="white-space: pre-wrap;">
                                <p>{{method_result.doc}}</p>
                                <p>{{method_result.output}}</p>
                                <p>{{method_result.error}}</p>
                            </pre>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        {% endfor %}

        <tr id='total_row' class="text-center active">
            <td>总计</td>
            <td>{{report.count}}</td>
            <td>{{report.Pass}}</td>
            <td>{{report.fail}}</td>
            <td>{{report.error}}</td>
            <td>通过率{{report.pass_rate}}</td>
        </tr>
    </table>