{% block app_content %}
     <div class="row">
         <div class="col-md-3" >
             <p class="text-center">测试开始时间</p>
         </div>
         <div class="col-md-8 text-center">
             <p class="text-center">比例</p>
         </div>
         <div class="col-md-1">
         </div>
    </div>

    {% for report in reports %}
        <div class="row">
            <div class="col-md-3">
                <p class="text-center">
                    {{ report.start_time }}
                </p>
            </div>
            <div class="col-md-8">
                <div class="progress">
                    <div class="progress-bar progress-bar-success" style="width: {{report.pass_rate}}">
                        {{report.Pass_num}}
                    </div>
                    <div class="progress-bar progress-bar-danger progress-bar-striped" style="width: {{report.fail_rate}}">
                        {{report.fail_num}}
                    </div>
                    <div class="progress-bar progress-bar-warning" style="width: {{report.error_rate}}">
                        {{report.error_num}}
                    </div>
                </div>
            </div>
            <div>
                <a class="btn btn-default" href="{{ url_for('main.report_detail', reports_name = report.file_name )}}" role="button">详情</a>
            </div>
        </div>
    {% endfor %}


{% endblock %}